.collection-bundle-header +.collection-bundle-body {
    margin-top: 5rem;
}
.coll-bundle-tab ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 4rem;
}
.coll-bundle-tab ul a {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: #1B1F23;
    font-weight: 400;
    letter-spacing: 0;
    padding: 5px 0;
}
.coll-bundle-tab ul .is--active a {
    border-bottom: 1px solid #1B1F23;
}
.collection-bundle-body ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.coll-bundle-content {
    display: none;
}
.coll-bundle-content.is--active {
    display: block;
}
.collection-bundle-slider ul li.swiper-slide {
    width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) / 2);
    opacity: 1;
}
.collection-bundle-slider.swiper-initialized ul {
    flex-wrap: unset;
    gap: 0;
}
.collection-bundle-header .slider-arrows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}
.collection-bundle-header .slider-arrows a {
    font-size: 18px;
    line-height: 1.2;
    color: #1B1F23;
    font-weight: 400;
}
.collection-bundle-header .slider-btn-list {
    display: flex;
    align-items: center;
    gap: 8px;
}
.collection-bundle-header .slider-btn-list>* {
    width: 4rem;
    height: 4rem;
    border: 1px solid #1B1F231A;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-bundle-body .product-card-wrapper {
    background: #F6F6F5;
}
.collection-bundle-header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    gap: 4rem;
}
.collection-bundle-header h2.heading {
    margin: 0;
    line-height: 1.2;
    font-weight: 500;
}
.collection-bundle-header span.sub-heading+h2.heading {
    margin-top: 8px;
}
.collection-bundle-header span.sub-heading {
    display: block;
    line-height: 1.2;
    letter-spacing: 0;
}